# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.spv
imgui.ini
LEARNING_NOTES.local.md
PROJECT_HANDOFF.local.md
*.local.txt
*.local.png
*.local.ps1
WalnutApp/assets/scenes/*.local.scene

# Exclude
!vendor/bin
